.divider_line{
    height: 1px;
    width: 98%;
    border-bottom: 1px solid #e1dcdc;
    margin: 30px 10px;
    position: absolute;
    top:350px;
} 

.pricing > .top_container > h1{
    font-size: 30px;
    width:30%;
}
.pricing > .top_container > p{
    margin-left:370px;
}