@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #FF9500;
    --black: #262626;
    --background: #F7F7F8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

body {
    background: #F7F7F8;
}


/* header styles*/
header {
    max-width: 100%;
}

.top_banner {
    background: var(--orange);
    color: var(--white);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

header .sub_header {
    width: 90%;
    margin: 0 auto;
    color: var(--black);
    padding: 20px 0px;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

nav,
nav ul,
.login_sign_up_button_container {
    display: flex;
    align-items: center;
    gap: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

.login_button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 117px;
    padding: 10px;
}

.hamburger {
    display: none;
}

.courses,.top_container {
    padding: 20px 50px 20px 70px;
}
.top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

.top_container  h1{
   font-size: 30px;
}

.top_container  p{
    color: #565555;
}

 
.divider_line{
    height: 1px;
    width: 98%;
    border-bottom: 1px solid #e1dcdc;
    margin: 30px 10px;
} 

.course{
    margin: 20px 3px;
    padding: 30px;
    border-radius: 7px;
    background-color: var(--white);
}

.course >.text_container{
    display: flex;
    align-items: flex-end;
    height: 60px;
    color: #565555;
}


.course .text_container button{
    width: 200px;
    background: #F7F7F8;
    border: 1px solid rgb(229, 224, 224);
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.image_container{
    display: grid;
    grid-template-columns: 295px 295px 295px;
    gap: 70px;
    margin-top: 30px;
} 

.course_detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.duration {
    display: flex;
    gap:10px;
}

.duration p{
    border: 1px solid rgb(229, 224, 224);
    border-radius: 5px;
    padding: 10px;
}

.image_container img{
    width: 118%;
}

.curriculum_container{
    border: 1px solid rgb(229, 224, 224);
    border-radius: 8px;
}

.curriculum_container p:nth-child(1){
    padding: 20px;
    font-weight: bold;
}
.curriculum{
    border-top: 1px solid rgb(229, 224, 224);
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 20px 40px;
}



.vertical_line{
    height: 100px;
    border-right: 1px solid rgb(229, 224, 224);
    margin: 30px;
}

.curriculum .topic p:nth-child(1){
    font-size: 40px;
}


/*footer styles*/
/*footer styles*/
footer {
    width: 100%;
    background-color: var(--white);
}

footer>.top_footer {
    display: flex;
    align-items: center;
    gap: 350px;
    /* justify-content:space-between; */
    padding: 70px;
}

footer>.top_footer>.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width:100%; */
}

.sub_container {
    display: flex;
    gap: 10px;
}

.links_container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.links_container a,
.forgot_password p a {
    text-decoration: none;
    color: grey;
}

.home_about {
    display: flex;
    gap: 30px;
}

.home,
.about_us,
.social_profile {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home>ul,
.about_us>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top_footer>.links_container>.social_profile>.social_profile_container {
    display: flex;
    gap: 15px;
}

.top_footer>.links_container>.social_profile>.social_profile_container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

footer>.bottom_footer {
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px;
    color: grey;
}

