@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root{
    --white : #FFFFFF;
    --orange : #FF9500;
    /* --grey : #262626; */
    --grey : #565555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}


body{
background: #F7F7F8;
}

/* header styles*/
header {
    max-width: 100%;
}

.top_banner {
    background: var(--orange);
    color: var(--white);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

header .sub_header {
    width: 90%;
    margin: 0 auto;
    color: var(--black);
    padding: 20px 0px;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

nav,
nav ul,
.login_sign_up_button_container {
    display: flex;
    align-items: center;
    gap: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

.login_button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 117px;
    padding: 10px;
}

.hamburger {
    display: none;
}


.hero_section {
    position: relative;
    margin-top: 120px;
}

.hero_section > .description_container::before{
    content: url("../img/Abstract\ Line.svg");
    position: absolute;
    left:340px;
    top:-35px;
}

.hero_section > .description_container > .unlock_description{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap:20px;
    padding: 10px;
    margin: 10px 370px;
    border-radius: 10px;
    height:70px;
    width:540px;

}

.hero_section > .container > .sub_container > img{
    width:3rem;
}
.hero_section > .container > .sub_container > p{
    font-weight: bold;
    font-size: 30px;
}
.hero_section > .container > .sub_container > p > span{
  color: var(--orange);
}
.hero_section > .container > .text_container{
    height:70px;
    width:540px;
    margin: 20px 370px;
}

.hero_section > .container > .text_container > p{
    font-size: 13px;
    margin: 10px 0 0 120px;
}

.hero_section > .button_container {
    height:70px;
    width:540px;
    margin: 20px 0 0 520px;
}    

.hero_section > .button_container  button{
    padding: 12px;
    border-radius: 6px;
    margin:4px;
    border:none;
    outline: none;
    font-weight: bold;
}

.hero_section > .button_container  button:nth-child(1){
    background-color: var(--orange);
    color: var(--white);
}

.hero_section > .button_container  button:nth-child(2){
    background-color: var(--white);
}

.card_container{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    gap:40px;
    border-radius: 10px;
    width:91%;
    margin: 60px 0 0 70px;
}

.card_container .vertical_line{
    height: 90px;
    border-left: 1px solid rgba(207, 203, 203, 0.198);
}

.video_container{
    width: 90%;
    height:100px;
    margin:40px 60px;
}

.video_container > img{
    width: 103%;
}

.benefits_container{
    /* margin:600px 70px 0px; */
    width: 91%;
    margin: 0 auto;
}

.benefits_container h1{
    margin: 0px 0px 10px 0px;
}

.benefits_container > .top_container ,
.courses > .top_container{
    display: flex;
    align-items: center;
    gap:18%;
}

.benefits_container > .top_container > p,
.courses > .top_container > p,
.testimonials > .top_container > p,
.pricing > .top_container > p{
    width: 75%;
    color: var(--grey);
}

.benefits_container > .top_container > button{
    background-color: var(--white);
    border: none;
    outline: none;
    padding: .85rem;
    border-radius: 6px;
    font-weight: bold;
}

.benefits_container > .bottom_container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap:15px;
    /* margin-top: 20px; */
}

.benefits_container > .bottom_container  .sub_container {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap:18px;
    /* position: relative; */
    height: 300px;
    width: 370px;
}
.benefits_container > .bottom_container  .sub_container > .number_container{
    font-weight: 1000;
    font-size: 40px;
    margin-left: 250px;
    /* position: absolute;
    right: 20px;
    top:10px; */
}

.benefits_container > .bottom_container  .sub_container > .text_container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.benefits_container > .bottom_container  .sub_container > .button_container{
    height:50px;
    width:50px;
    margin-left: 250px;
    display: flex;
    align-items: center;
    /* position: absolute;
    right: 10px;
    bottom:2px; */
}

.benefits_container > .bottom_container  .sub_container > .button_container > button{
    border: 1px solid rgb(229, 219, 219);
    outline:none;
    background-color: #fbfafa;
    padding: 5px;
    border-radius: 3px;

}


.testimonials,.courses,.pricing{
        display: flex;
        flex-direction: column;
        width:80%;
        gap:20px;
        margin: 60px 65px;
}

.courses > .top_container ,
.testimonials > .top_container{
    width: 115%;
    display: flex;
    gap:10px;
}


.courses > .top_container > button,
.testimonials > .top_container > button{
    background-color: var(--white);
    border: none;
    outline: none;
    padding: .65rem;
    border-radius: 6px;
    font-weight: bold;
    width:10%;
    margin-left: 155px;
}


.pricing > .top_container > button{
    background-color: var(--white);
    border: none;
    outline: none;
    padding: .65rem;
    border-radius: 6px;
    font-weight: bold;
    width:10%;
    margin-left: 155px;
}
/* 
.home_footer{

    background-color: #FF9500;
}


.home_footer{
    background-color: var(--white);
}

.home_footer > .top_footer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 70px;
}

.home_footer > .top_footer > aside {
    display: flex;
    flex-direction: column;
    gap:10px;
    width:750px;
}

.home_footer > .top_footer > .links_container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.home_footer > .top_footer > .links_container  a,
.home_footer > .main_container > .forgot_password > p > a{
    text-decoration: none;
    color: grey;
}

.home_footer > .top_footer > .links_container > .home,
.home_footer > .top_footer > .links_container > .about_us ,
.home_footer > .top_footer > .links_container > .social_profile{
   height: 100px;
   width:160px;
   display: flex;
   flex-direction: column;
   gap:20px;
}

.home_footer > .top_footer > .links_container > .home > ul ,
.home_footer > .top_footer > .links_container > .about_us > ul {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.home_footer > .top_footer > .links_container > .social_profile > .social_profile_container{
    display: flex;
    gap:15px;
}

.home_footer > .top_footer > .links_container > .social_profile > .social_profile_container button{
  padding:10px;
  border:none;
  border-radius: 5px;
  outline:none;
}

.home_footer > .bottom_footer{
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px;
    color: grey;
}

 */

.courses > .course_container{
    display: grid;
    grid-template-columns: 565px 565px;
    gap : 20px;
}

.courses > .course_container  > .course {
    border-radius: 3px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.courses img {
    width: 510px;
}
.course > .top_container,
.testimonials > .top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.course_container button
{
    margin: 30px 0px 0px;
    padding: 15px;
    border-radius: 3px;
    border: none;
    outline:none;
    font-weight: bold;
}

.course > .top_container >.duration_difficulty_level {
    display: flex;
    gap:10px;
}

.course > .top_container >.duration_difficulty_level p{
    border: 1px solid #dbd7d7;
    color: #454444;
    border-radius: 3px;
    padding: 5px;
}

.course > .top_container  .instructor{
    font-weight: bold;
}

.course_container > .course > .course_detail{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.testimonial_container{
    display: grid;
    grid-template-columns: 569px 569px;
    gap:20px;

}

.testimonial_container >.sub_container > .desc{
    background: var(--white);
    padding: 20px 40px;
    border-radius: 10px 10px 0 0px;
}

.testimonial_container > .sub_container > .profile_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color:#FCFCFD;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #e6e6e9;
}

.testimonial_container >.sub_container > .profile_container > .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.testimonial_container > .sub_container > .profile_container  p, 
.testimonial_container > .sub_container > .profile_container > button{
    font-weight: bold;
}

.read_full_story_btn{
    height: 40px;
    width: 130px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-weight:500;
    background-color: #f8f8fa;
}

.pricing > .top_container{
    width: 115%;
    display: flex;
    gap:50px;
}

.pricing > .top_container > .button_container{
    background-color: var(--white);
    display: flex;
    gap: 5px;
    width: 20%;
    padding: 7px;
    border-radius: 3px;
}

.pricing > .top_container > .button_container button{
    width: 53%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: transparent;
}

.pricing > .top_container > .button_container button:nth-child(1){
    background-color: var(--orange);
    color: var(--white);
}
.pricing > .bottom_container{
    width:114%;
    background-color: var(--white);
    padding: 60px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.pricing > .bottom_container > .plan_container{
    width: 50%;
    padding: 30px 20px 20px 20px;
    border: 1px solid #cecaca;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color: #fafafa;
}

.pricing > .bottom_container > .plan_container > .plan{
    width: 100%;
    background-color: #f8efe4;
    border: 1px solid #f5ddbf;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.pricing > .bottom_container > .plan_container > .price > p > span{
    font-weight: bold;
    font-size: 60px;
}

.pricing > .bottom_container > .plan_container > .available_features{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
}
/* padding: 5px; */

.pricing > .bottom_container > .plan_container > .available_features button{
    width: 100%;
    background-color: var(--orange);
    padding: 10px;
    border: none;
    outline:none;
    color: var(--white);
    border-radius: 0px 0px 5px 5px;
    margin-top:10px;
}

.pricing > .bottom_container > .plan_container > .available_features > h4{
    text-align: center;
    margin: 30px 10px;
}

.pricing > .bottom_container > .plan_container > .available_features > .feature {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #c5c0c0;
    border-radius: 5px;
    margin: 10px 30px;
}

.FAQ_section{
    width: 91%;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    margin: 60px 65px;
    padding: 50px;
    gap: 60px;
}
.FAQ_section > .left_container{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.FAQ_section > .left_container button{
    width:40%;
    padding: 15px;
    background-color: var(--white);
    outline: none;
    border: 1px solid #c5c0c0;
    border-radius: 5px;
    font-weight: bold;
}

.FAQ_section > .left_container > .text_container {
    display: flex;
    flex-direction: column;
    gap:10px;
    /* width: 45%; */
}

.FAQ_section > .left_container > .text_container p
{
    width: 330px;
}

.FAQ_section > .left_container > .text_container h1
{
    width: 300px;
}

.FAQ_section > .right_container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.FAQ_section > .right_container  .faq_container{
   display: flex;
   flex-direction: column;
   border: 1px solid #c5c0c0;
   border-radius: 5px;
   padding: 20px;
}

.FAQ_section > .right_container  .faq_container >.question_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.FAQ_section > .right_container  .faq_container >.answer_container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #c5c0c0;
}
.FAQ_section > .right_container  .faq_container >.answer_container >p{
    margin: 30px 0px;
    color: #565555;
}
.FAQ_section > .right_container  .faq_container > .answer_container > .sub_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    background-color: #f7f7f8;
    width: 100%;
}

.FAQ_section > .right_container > .faq_container > .answer_container > .sub_container >.forward_btn{
    border-radius: 50%;
    background-color: var(--white);
    border: none;
    place-items: center;
    padding: 10px;
}

.FAQ_section > .right_container  .faq_container >.question_container button{
    width: 53px;
    height: 53px;
    border-radius: 10px;
    border: none;
    outline:none;
}
footer {
    width: 100%;
    background-color: var(--white);
}

footer>.top_footer {
    display: flex;
    align-items: center;
    gap: 350px;
    /* justify-content:space-between; */
    padding: 70px;
}

footer>.top_footer>.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width:100%; */
}

.sub_container {
    display: flex;
    gap: 10px;
}

.links_container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.links_container a,
.forgot_password p a {
    text-decoration: none;
    color: grey;
}

.home_about {
    display: flex;
    gap: 30px;
}

.home,
.about_us,
.social_profile {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home>ul,
.about_us>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top_footer>.links_container>.social_profile>.social_profile_container {
    display: flex;
    gap: 15px;
}

.top_footer>.links_container>.social_profile>.social_profile_container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

footer>.bottom_footer {
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px;
    color: grey;
}
