/*Hero Section*/

.hero_section {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: 60px; */
}

.description_container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.unlock_description {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0.75rem;
    border-radius: 10px;
    gap: .5rem;
}

.abstract_line{
    /* content: url("../img/Abstract\ Line.svg"); */
    position: absolute;
    top:-24px;
    left: -33px;
}

.unlock_description p{
    font-weight: bold;
    font-size: 30px;
}

.unlock_description > p > span{
    color: var(--orange);
}

.text_container p{
    text-align: center;
    margin: .75rem 0rem;
}

.view_pricing_explore_courses{
    margin-top: 1.5rem;
}

.explore_courses_button{
    border-radius: 5px;
    border: none;
    outline:none;
    padding: .75rem;
    background-color: var(--orange);
    color:var(--white);
    font-size: bold;
}

.view_pricing_button{
    border-radius: 5px;
    border: none;
    outline:none;
    padding: .75rem;
    background-color: var(--white);
    margin-left: 0.25rem;
    /* font-weight: bold; */
}

/*card container*/

.card_container{
    background-color: var(--white);
    border-radius: 8px;
    width: 90%;
    margin: 10px auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap:10px; */
}

.card{
    padding: 1rem;
    border-right: 2px solid rgba(207, 203, 203, 0.143);
}

.card:nth-child(7){
    border-right: 1px solid var(--white);
}

/*video container*/

.video_container{
    width: 91%;
    margin: 0 auto;
}

.video_container img{
    width: 100%;
}

/*benefits section*/

.benefits_section{
    border: 1px solid red;
    width: 89%;
    margin: 0 auto;
}

.benefits_description{
    display: flex;
    gap:200px;
}

.benefits_description p{
    color:var(--p_color);
}

.benefits_description button{
    background-color: var(--white);
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: bold;
    width: 10%;
    padding: .5rem;
}

.benefits_container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap:1.4rem;
    width: 100%;
    margin: 1rem auto;
}

.benefit_sub_container {
    /* height: 50vh; */
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding: 2rem;
}

.number_container{
    align-self: flex-end;
}

.number_container h1{
    font-size:40px;
    font-weight: 700;
}
.benefit_sub_container > button{
    align-self: flex-end;
    border: 1px solid rgb(229, 219, 219);
    outline:none;
    background-color: #fbfafa;
    padding: 5px;
    border-radius: 3px;
}



.benefit_text_container h4,
.benefit_text_container p{
    margin-top: .15rem;
}



/*Mobile Screen*/

@media (max-width: 480px) {

        /*hero section*/
        
        .unlock_description p{
            font-size: 20px;
        }

        .text_container{
            padding: 2rem;
            width: 90%;
            margin: 0 auto;
        }

        .text_container p{
            text-align: start;
        }


        .explore_courses_button,
        .view_pricing_button{
            padding: .5rem ;
        }


    /*card_container*/
    .card_container{
        overflow-x: scroll;
        padding: 3px;
        justify-content: flex-start;
    }

    .card{
        padding: 9px;
    }
    
    #card_img{
        width: 120px;
    }

    /* Footer styles */
    footer {
        width: 100%;
        background-color: #fff;
    }

    footer>.top_footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .contact,
    .social_profile {
        width: 100%;
    }

    .links_container {
        width: 100%;
        flex-direction: column;
    }

    .contact>.sub_container {
        display: flex;
        gap: 10px;
    }

    .links_container a,
    .forgot_password p a {
        color: grey;
    }


    .home,
    .about_us,
    .social_profile {
        width: 100%;
    }

    .home>ul,
    .about_us>ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .top_footer .links_container .social_profile .social_profile_container button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
    }

    .bottom_footer {
        border-top: 1px solid grey;
        text-align: center;
        padding: 20px;
        color: grey;
    }

    nav ul li a {
        display: none;
    }

    .login_sign_up_button_container {
        display: flex;
        gap: 10px;
        font-size: 12px;
    }

    .hamburger {
        display: block;
    }

    nav ul {
        gap: 10px;
    }

    footer>.top_footer {
        padding: 30px;
    }

}

@media(max-width:450px) {

    /*header styles*/
    .top_banner {
        padding: 2px;
        font-size: 10px;
    }

    nav {
        gap: 5px;
    }

    header .sub_header {
        padding: 5px;
    }

    /*footer styles*/
    .contact .sub_container {
        font-size: 12px;
    }

    @media (max-width : 380px) {
        /* Hero Section */
        .abstract_line{
            left: -9px;
            top:-9px;
        }

        /*footer styles*/
        .contact>.sub_container img {
            width: 20px;
        }

        .top_footer .social_profile>.social_profile_container button img {
            width: 15px;
        }

        .bottom_footer {
            font-size: 10px;
        }
    }

}



/* laptop 769 - 1024*/
@media (max-width:1024px) {
    footer >.top_footer {
        gap: 120px;
        padding: 12px;
    }

    @media (max-width:920px) {
        footer>.top_footer {
            gap: 80px;
        }

        .links_container {
            gap: 15px;
        }

        .card_container img{
            width: 50px;
        }
    }
}

@media (max-width:835px) {
    footer>.top_footer {
        gap: 1rem;
    }

    .home_about {
        gap: 1rem;
    }
}

/*Tablet 481 - 768 */
@media (min-width:481px) and (max-width:768px) {

    .sub_header nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    footer>.top_footer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .links_container {
        width: 100%;
    }
       .unlock_description img{
        width: 10%;
    }

    .text_container {
        width: 90%;
        margin: 0 auto;
    }

    .card{
        padding: 1rem;
    }

    .card_container img{
        width: 30px;
    }


    @media (max-width:530px) {
        .home_about {
            width: 50%;
        }
    }
}


/*desktop 1024 - 1200 */
@media (min-width:1025px) {
    footer>.top_footer {
        gap: 180px;
    }
}
