@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #FF9500;
    --black: #262626;
    --background: #F7F7F8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

body {
    background: #F7F7F8;
}

/* header styles*/
header {
    max-width: 100%;
}

.top_banner {
    background: var(--orange);
    color: var(--white);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

header .sub_header {
    width: 90%;
    margin: 0 auto;
    color: var(--black);
    padding: 20px 0px;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

nav,
nav ul,
.login_sign_up_button_container {
    display: flex;
    align-items: center;
    gap: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

.login_button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 117px;
    padding: 10px;
}

.hamburger {
    display: none;
}

.hero_section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unlock_description {
    display: flex;
    align-items: center;
}




/*footer styles*/
footer {
    width: 100%;
    background-color: var(--white);
}

footer>.top_footer {
    display: flex;
    align-items: center;
    gap: 350px;
    /* justify-content:space-between; */
    padding: 70px;
}

footer>.top_footer>.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width:100%; */
}

.sub_container {
    display: flex;
    gap: 10px;
}

.links_container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.links_container a,
.forgot_password p a {
    text-decoration: none;
    color: grey;
}

.home_about {
    display: flex;
    gap: 30px;
}

.home,
.about_us,
.social_profile {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home>ul,
.about_us>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top_footer>.links_container>.social_profile>.social_profile_container {
    display: flex;
    gap: 15px;
}

.top_footer>.links_container>.social_profile>.social_profile_container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

footer>.bottom_footer {
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px;
    color: grey;
}

