@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #FF9500;
    --black: #262626;
    --background: #F7F7F8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

body {
    background: #F7F7F8;
}

/* header styles*/
header {
    max-width: 100%;
}

.top_banner {
    background: var(--orange);
    color: var(--white);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

header .sub_header {
    width: 90%;
    margin: 0 auto;
    color: var(--black);
    padding: 20px 0px;

    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

nav,
nav ul,
.login_sign_up_button_container {
    display: flex;
    align-items: center;
    gap: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

.login_button {
    background-color: var(--orange);
    color: var(--white);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 117px;
    padding: 10px;
}

.hamburger {
    display: none;
}

.pricing{
    width:90% ;
    margin: 0 auto;
} 
.pricing > .top_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pricing > .top_container > h1{
    font-size: 30px;
}
.pricing > .top_container > div{
    font-size: 13px;
}


.pricing  .button_container{
    background-color: var(--white);
    display: flex;
    gap: 5px;
    width: 20%;
    padding: 7px;
    border-radius: 3px;
    margin: 0 auto;
}


.pricing .button_container button{
    width: 53%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: transparent;
}

.pricing .button_container button:nth-child(1){
    background-color: var(--orange);
    color: var(--white);
}

.divider_line{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #e1dcdc;
    margin: 0 auto;
} 

.pricing > .bottom_container{
    width:100%;
    background-color: var(--white);
    padding: 60px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.pricing > .bottom_container > .plan_container{
    width: 50%;
    padding: 30px 20px 20px 20px;
    border: 1px solid #cecaca;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color: #fafafa;
}

.pricing > .bottom_container > .plan_container > .plan{
    width: 100%;
    background-color: #f8efe4;
    border: 1px solid #f5ddbf;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.pricing > .bottom_container > .plan_container > .price > p > span{
    font-weight: bold;
    font-size: 60px;
}

.pricing > .bottom_container > .plan_container > .available_features{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
}


.pricing > .bottom_container > .plan_container > .available_features button{
    width: 100%;
    background-color: var(--orange);
    padding: 10px;
    border: none;
    outline:none;
    color: var(--white);
    border-radius: 0px 0px 5px 5px;
    margin-top:10px;
}

.pricing > .bottom_container > .plan_container > .available_features > h4{
    text-align: center;
    margin: 30px 10px;
}

.pricing > .bottom_container > .plan_container > .available_features > .feature {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #c5c0c0;
    border-radius: 5px;
    margin: 10px 30px;
}

.FAQ_section{
    width: 91%;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    margin: 60px 65px;
    padding: 50px;
    gap: 60px;
}
.FAQ_section > .left_container{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.FAQ_section > .left_container button{
    width:40%;
    padding: 15px;
    background-color: var(--white);
    outline: none;
    border: 1px solid #c5c0c0;
    border-radius: 5px;
    font-weight: bold;
}

.FAQ_section > .left_container > .text_container {
    display: flex;
    flex-direction: column;
    gap:10px;
    /* width: 45%; */
}

.FAQ_section > .left_container > .text_container p
{
    width: 330px;
}

.FAQ_section > .left_container > .text_container h1
{
    width: 300px;
}

.FAQ_section > .right_container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.FAQ_section > .right_container  .faq_container{
   display: flex;
   flex-direction: column;
   border: 1px solid #c5c0c0;
   border-radius: 5px;
   padding: 20px;
}

.FAQ_section > .right_container  .faq_container >.question_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.FAQ_section > .right_container  .faq_container >.answer_container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #c5c0c0;
}
.FAQ_section > .right_container  .faq_container >.answer_container >p{
    margin: 30px 0px;
    color: #565555;
}
.FAQ_section > .right_container  .faq_container > .answer_container > .sub_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    background-color: #f7f7f8;
    width: 100%;
}

.FAQ_section > .right_container > .faq_container > .answer_container > .sub_container >.forward_btn{
    border-radius: 50%;
    background-color: var(--white);
    border: none;
    place-items: center;
    padding: 10px;
}

.FAQ_section > .right_container  .faq_container >.question_container button{
    width: 53px;
    height: 53px;
    border-radius: 10px;
    border: none;
    outline:none;
}


footer {
    width: 100%;
    background-color: var(--white);
}

footer>.top_footer {
    display: flex;
    align-items: center;
    gap: 350px;
    /* justify-content:space-between; */
    padding: 70px;
}

footer>.top_footer>.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width:100%; */
}

.sub_container {
    display: flex;
    gap: 10px;
}

.links_container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.links_container a,
.forgot_password p a {
    text-decoration: none;
    color: grey;
}

.home_about {
    display: flex;
    gap: 30px;
}

.home,
.about_us,
.social_profile {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home>ul,
.about_us>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top_footer>.links_container>.social_profile>.social_profile_container {
    display: flex;
    gap: 15px;
}

.top_footer>.links_container>.social_profile>.social_profile_container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

footer>.bottom_footer {
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px;
    color: grey;
}
