@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root{
    --white : #FFFFFF;
    --orange : #FF9500;
    --grey : #262626;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';
}

body{
background: #F7F7F8;
}

header > .topBanner{
    background:var(--orange);
    color: var(--white);
    border-radius: 8px;
    height: 55px;
    width:1240px;
    margin: 20px 15px;
    padding: 14px 0 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:23px;
}

header  .topBanner  p ,img{
    background: transparent;
}

header > .navigation_container {
    height: 55px;
    width:1240px;
    margin: 20px;
    /* border: 2px solid red; */
    color: black;
    padding: 20px 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}

header > .navigation_container > nav{
    display: flex;
    gap:23px;
}

header > .navigation_container > nav > .logo_container,
footer > .top_footer > aside > .logo_container{
    background: var(--orange);
    height: 54px;
    width: 54px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header > .navigation_container > nav > .logo_container > img{
    height: 24px;
    width:24px;
}

header > .navigation_container > nav > ul,
footer > .top_footer > .links_container  ul li{
    display: flex;
    align-items: center;
    gap: 20px;
    /* border: 2px solid rgb(174, 255, 0); */
    list-style: none;
}

header > .navigation_container > nav > ul > li > a:hover{
    background-color: rgb(224, 224, 231);
    padding: 5px 0px;
    border-radius: 3px;
}

header > .navigation_container > nav > ul > li > a{
   text-decoration: none;
   color:var(--grey)   
}

.navigation_container > .buttons_container,
footer > .top_footer > aside > .sub_container{
   display: flex;
   align-items: center;
   gap: 30px;
}



.login_btn {
    background-color: var(--orange);
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    outline:none;
    height: 55px;
    width: 117px;
}

main{
    padding: 20px 30px 0px 70px ;
    display: flex;
    gap : 60px;
    margin-bottom: 100px;
}

main > .testimonial_container{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top:165px;
}

main > .testimonial_container > .top_container
{
    height: 100px;
    width:630px;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* border: 2px solid red; */
}

main > .testimonial_container > .top_container >p
{
    color: grey;
}

main > .testimonial_container > .bottom_container{
    width: 630px;
    height:204px;
    /* border: 2px solid rgb(13, 255, 0); */
    /* border-radius: 10px; */
}
main > .testimonial_container > .bottom_container > .desc{
    background: var(--white);
    padding: 20px 40px;
    border-radius: 10px 10px 0 0px;
}
main > .testimonial_container > .bottom_container > .profile_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color:#FCFCFD;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #e6e6e9;
}

main > .testimonial_container > .bottom_container > .profile_container > .profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

main > .testimonial_container > .bottom_container > .profile_container > .profile > p{
    font-weight: bold;
}
.read_more_btn{
  height: 40px;
  width: 90px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-weight:500;
  background-color: #f8f8fa;
}

.testimonial_container > .buttons_container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.testimonial_container > .buttons_container > button{
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    outline:none;
    height: 60px;
    width:60px;
    padding: 20px;
    display: flex;
    align-items: center;
}


.sign_up_container {
    /* border: 2px solid blue; */
    width:39%;
    border-radius: 10px;
    margin-top: 40px;
    background-color: var(--white);
    /* padding:5px; */
}

.sign_up_container > .text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    margin-top: 35px;
}

.sign_up_container > .text_container > .heading{
    font-size: 25px;
    font-weight: bold;
}
.sign_up_container > .text_container > .desc{
    font-size: 12px;
    margin-top: 10px;
    color:#565555;
}

.sign_up_container > .text_container
{
  background-color: #FFFFFF;
}

.sign_up_container > form >  .main_container{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 30px;
}

.sign_up_container > form >  .main_container > .sub_container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.sub_container [type="text"]{
    padding: 20px;
    border: 1px solid rgb(213, 211, 211);
    outline: none;
    border-radius: 10px;
    background-color: #F7F7F8;
}
.sub_container > label {
    font-weight: bold;
}

.sub_container > .password_container {
    display: flex;
    align-items: center;
    gap:150px;
    border: 1px solid rgb(213, 211, 211);
    border-radius: 10px;
    background-color: #F7F7F8;
}
.sub_container > .password_container > input{
    border:none;
}

form > .main_container > .forgot_password{
    display: flex;
    justify-content: flex-end;
    color:#646363;
}

form > .main_container > .sign_up_btn{
    background-color: var(--orange);
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--white);
    padding: 15px 40px;
}

form > .main_container > .checkbox_container,
form > .main_container > .checkbox_container > label > a{
    color: #646363;
}

.sign_up_container > .horizontal_line{
    position: relative;
    height: 1px;
    width: 86%;
    background-color:rgb(217, 214, 214);
    margin: 36px 30px;
}

.horizontal_line::before{
    content: 'Or';
    padding: 3px;
    position: absolute;
    background-color: #FFFFFF;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.google_signup_btn{
    border: none;
    border-radius: 10px;
    outline:none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin: 10px 30px;
    width:87%;
    font-weight: bold;
}
.login_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.login_link > a {
    color:var(--grey);
}

footer{
    background-color: var(--white);
}

footer > .top_footer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 70px;
}

footer > .top_footer > aside {
    display: flex;
    flex-direction: column;
    gap:10px;
    width:750px;
}

footer > .top_footer > .links_container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

footer > .top_footer > .links_container  a,
form > .main_container > .forgot_password > p > a{
    text-decoration: none;
    color: grey;
}
footer > .top_footer > .links_container > .home,
footer > .top_footer > .links_container > .about_us ,
footer > .top_footer > .links_container > .social_profile{
   height: 100px;
   width:160px;
   display: flex;
   flex-direction: column;
   gap:20px;
}

footer > .top_footer > .links_container > .home > ul ,
footer > .top_footer > .links_container > .about_us > ul {
    display: flex;
    flex-direction: column;
    gap:10px;
}
footer > .top_footer > .links_container > .social_profile > .social_profile_container{
    display: flex;
    gap:15px;
}
footer > .top_footer > .links_container > .social_profile > .social_profile_container button{
  padding:10px;
  border:none;
  border-radius: 5px;
  outline:none;
}

footer > .bottom_footer{
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px;
    color: grey;
}






