.divider_line{
    height: 1px;
    width: 98%;
    border-bottom: 1px solid #e1dcdc;
    margin: 30px 10px;
    position: absolute;
    top:350px;
} 

.top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    padding: 20px 50px 20px 70px;
}

.top_container  h1{
   font-size: 30px;
}

.top_container  p{
    color: #565555;
}

.achievements{
    padding: 20px 50px 20px 70px;
}

.achievement_container{
    display: grid;
    grid-template-columns: 570px 570px;
    gap:20px;
}

.achievement{
    background-color: #FFFF;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.achievement img{
    height: 100px;
    /* border: 1px solid red; */
}